/* .tablefeed th,td{
    font-size: 1.5rem;
    width: 5%;
    align-content: center;
    border: 1px solid black;
    background: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
} */
.table-responsive {
    display: flex;
    justify-content: center;
    margin: 5%;
    box-sizing: border-box;
    border-radius: 10px;
}

*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar-text{
    text-decoration: none;
    font-size: 2.0rem;
    display: inline-block;
}
/* .navbar-brand{
    display: inline-block;
} */
.new{
    display: flex;
    justify-content: center;
    margin-right: 30%;
}
.breadcrumb-item{
    margin-left: 10px;
    font-size: large;
    margin-top: 10px;
}
.breadcrumb-item a{
    text-decoration: none;
    padding-left: 10px;
}
.newform{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    box-sizing: border-box;
    border:2px solid #474646;
    padding: 50px 50px;
    margin-bottom: 100px;
    border-radius: 15px;
    background-color: rgba(254, 255, 255, 0.858); /* Black w/opacity/see-through */
}
.btn-group-vertical{
    display: flex;
    width: 25%;
    margin-bottom: 300px;
    margin-top: 300px;
}
#top{
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}
#group{
    margin-top: 80px;
    margin-bottom: 150px;
    background-image: url(https://source.unsplash.com/1080x640/?education,management);
    display: flex;
    justify-content: center;
    width: 85%;
    margin-left: 6%;
    margin-right: 9%;
}
#choose{
    background-color: aliceblue;
    padding: 10px;
    height: 25%;
    width: 25%;
    border-radius: 10px;
    border: 1px blue;
}
#liveAlertBtn{
    margin-bottom: 100px;
}
#carouselExampleIndicators{
    display: flex;
    justify-content: center;
    width: 85%;
    margin-left: 6%;
    margin-right: 9%;
}
#login{
    background-image: url(https://source.unsplash.com/1080x640/?login);
    display: flex;
    justify-content: center;
}
.card-deck{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 25%;
}
.card{
    margin: 1%;
}
#addUser{
    background-image: url(https://source.unsplash.com/1080x640/?white);
    display: flex;
    justify-content: center;
}
/* .needs-validation{
    justify-content: center;
    width: 60%;
    margin-top: 50px;
    box-sizing: border-box;
    border:2px solid #474646;
    padding: 50px 50px;
    margin-bottom: 5%;
    border-radius: 15px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(254, 255, 255, 0.858);
} */
#submit {
    display: inline-block;
}
.form-row{
    display: flex;
    width: 80%;
    padding: 2%;
}
.container{
    display: flex;
    justify-content: center;
    margin: 3%;
}
.head{
    background-image: url(https://source.unsplash.com/1400x400/?login);
    display: flex;
    justify-content: center;
}